# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.go]
ij_go_add_parentheses_for_single_import = true
ij_go_remove_redundant_import_aliases = true
ij_go_import_sorting = goimports
ij_go_move_all_imports_in_one_declaration = true
ij_go_group_stdlib_imports = true
ij_go_move_all_stdlib_imports_in_one_group = true
ij_go_GROUP_CURRENT_PROJECT_IMPORTS = true
ij_go_local_group_mode = prefix
ij_go_local_package_prefixes = github.com/duplabe
